@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

body {
  background-image: url("https://i.imgur.com/QSg1p4A.png");
  background-color: #061e33;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#menu {
  height: 52px;
  background: #332001;
  border-bottom: 2px solid #e4c35c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 0.5em;
}

#logo,
#sandwich-menu {
  align-self: center;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #e4c35c;
  filter: drop-shadow(0px 2px 10px #3aaff8);
  font-family: Cinzel;
}

#cataloge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.card {
  width: 290px;
  background: #1c5280;
  border: 5px solid #80591c;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.text {
  flex-grow: 4;
}

/*img {
  display: flex;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
} */

h2 {
  color: #ffffff;
  font-variant-caps: small-caps;
  font-family: Cinzel;
  margin-top: 8em;
}

.heading1 {
  background-image: url("https://cdn.vox-cdn.com/thumbor/7j_tWZCKiCVSinbsf535JAdi3RE=/250x250/cdn0.vox-cdn.com/uploads/chorus_asset/file/8089239/ja_baij_1.jpg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
}

.heading2 {
  background-image: url("https://www.zeldadungeon.net/wiki/images/2/2d/Guardian-scout-i.jpg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
}

.heading3 {
  background-image: url("https://www.zeldadungeon.net/wiki/images/5/54/Guardian-scout-ii.jpeg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
}

.heading4 {
  background-image: url("https://www.zeldadungeon.net/wiki/images/d/da/Guardian-scout-iii.jpg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
}

.heading5 {
  background-image: url("https://www.zeldadungeon.net/wiki/images/3/35/Guardian-scout-iv.jpg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
}

.heading6 {
  background-image: url("https://orcz.com/images/8/8a/BreathoftheWildGuardianSentry.jpg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
  object-position: left;
}

.heading7 {
  background-image: url("https://www.zeldadungeon.net/wiki/images/6/6b/Guardian-skywatcher.jpg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
}

.heading8 {
  background-image: url("https://cdn.vox-cdn.com/thumbor/7j_tWZCKiCVSinbsf535JAdi3RE=/250x250/cdn0.vox-cdn.com/uploads/chorus_asset/file/8089239/ja_baij_1.jpg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
}

.heading9 {
  background-image: url("https://www.zeldadungeon.net/wiki/images/f/f5/Guardian-stalker.jpg");
  height: 250px;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #80591c;
}

.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6,
.heading7,
.heading8,
.heading9 {
  margin-bottom: 1em;
}
.name {
  background: rgba(51, 32, 1, 0.81);
  display: flex;
  justify-content: center;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #e4c35c;
  margin-bottom: -0.5em;
  margin-left: 1em;
}

.content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 1em;
}

li {
  line-height: 25px;
}

.button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  background: #80591c;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 114px;
  text-align: center;
  padding: 8px 10px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* can't get button to stay at the bottom of the card */
  align-self: center;
}

a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
}

/* Inter activity*/

.card:hover {
  box-shadow: 0px 0px 20px 3px #3AAFF8;
  transition: 300ms;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  /* cant get to fade out*/
}

.button:hover {
  box-shadow: inset 0px 0px 10px 3px #3AAFF8;
  transition: all 300ms ease-in;
}

a:focus {
  color: #3AAFF8;
}

a:visited {
  color: #FA6BEC;
}
